.folding {
	border: 1px solid @color_base_dark;
	color: #fff;

	&__title {
		padding: 5px;
		background: @background_color_light;
		overflow: hidden;

		&_icon {
			margin: 0 @margin_md;
		}
	}

	&__body {
		background: @background_dark_strong;
		padding: @padding_md;

		&_empty {
			font-style: italic;
			color: @color_base_disabled;
			font-size: @font_size_sm;
		}
	}
}